name: ogg_record_player
version: 1.1.0
description: "An ogg opus file player and recorder for flutter."
homepage: https://github.com/SunnatilloShavkatov/ogg_record_player

environment:
  sdk: ">=3.9.0 <4.0.0"
  flutter: ">=3.35.0"

dependencies:
  flutter:
    sdk: flutter
  system_clock: ^2.0.1
  plugin_platform_interface: ^2.1.8

dev_dependencies:
  analysis_lints: ^1.0.2
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: SwiftOggOpusPlayerPlugin
      android:
        package: one.mixin.oggOpusPlayer
        pluginClass: OggOpusPlayerPlugin
